<h2>{{name}}</h2>
{{{description}}}
{{#if options}}
<h3>Opcje</h3>
<ul>
    {{#each options as |option|}}
    <li>
        <strong>{{#if (isEqual option.attribute "Pagon")}}Stopień Służbowy{{else}}{{option.attribute}}{{/if}}</strong> - {{option.desc}}
    </li>
    {{/each}}
</ul>
{{/if}}
{{#if result}}
<h3>Triumf</h3>
{{{result.sukcess}}}
<h3>Fuks</h3>
{{{result.patrial}}}
<h3>Skucha</h3>
{{{result.fail}}}
{{/if}}