<li value="{{system.value}}" class="label" autocomplete="off" data-item-id="{{_id}}">
    <div class="buttons">
        <button class="item-edit">
            <i class="fas fa-edit"></i>
        </button>
        <button class="item-delete">
            <i class="fas fa-minus"></i>
        </button>
    </div>
    <div class="labelData">
        <input type="number" name="system.value" value="{{system.value}}">
        <input type="text" name="system.name" value="{{system.name}}">
    </div>
    <div class="description">
        {{{system.desc}}}
    </div>
</li>